---
layout: archive
---

<section class="page__content">
<p>Currently I am a PhD student at <a href="https://www.kaust.edu.sa/en">King Abdullah University of Science and Technology</a> (KAUST) in <a href="https://smi.kaust.edu.sa/Pages/Home.aspx">Seismic Modeling and Inversion group</a> run by Prof. <a href="http://danielpeter.github.io/index.html">Daniel Peter</a>. My research interests are: geophysics, numerical modeling, seismic inversion, and machine learning.</p>

<p>I grew up in Moscow where since 2009 have been studying Earth Science at <a href="https://www.msu.ru/en/">Lomonosov Moscow State University</a>. During 5.5 years of M.Sc program I was conducting research on natural stress-state reconstruction at the lab of tectonophysics run by Dr. <a href="https://www.researchgate.net/profile/Yu_Rebetsky">Yu.L. Rebetsky</a> at the <a href="http://www.ifz.ru/en/institute/">Schmidt Institute of Physics of the Earth of the Russian Academy of Sciences</a>.</p>

<p>
In 2014 I got accepted for the <a href="http://www.ipgp.fr/fr/international-master-of-research-in-exploration-geophysics-gpx">International Master of Research in Exploration Geophysics (GPX)</a> at the <a href="http://www.ipgp.fr/fr">Institut de Physique du Globe de Paris</a> (IPGP) in Paris. There, I was working with Prof. <a href="http://www.ipgp.fr/en/fuji-nobuaki">Nobuaki Fuji</a> and Dr. <a href="https://www.researchgate.net/profile/Roland_Martin/info">Roland Martin</a> (CNRS) developing an accurate finite difference operator for synthetic seismogram calculation in areas with sharp lithological interfaces.</p>

<p>
Aside from that I just like learning new things, doing sports and playing guitar.</p>
</section>
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
