---
layout: single
---

<section class="home__custom">
  <!-- <p>
    I am a PhD Candidate at <a href="https://www.kaust.edu.sa/en">King Abdullah University of Science and Technology</a> (KAUST) in <a href="https://smi.kaust.edu.sa/Pages/Home.aspx">Seismic Modeling and
    Inversion group</a> run by <a href="http://danielpeter.github.io/index.html">Prof. Daniel Peter</a>. I am broadly interested in numerical methods in geophysics, which includes but not limited to <b>Machine Learning</b>, <b>Seismic Imaging</b> and <b>HPC</b>.

    My PhD research is focused on developing ML-based methods to improve seismic inversion.
  </p> -->
  My name is Oleg Ovcharenko and currently I am Solution Architect for Energy at NVIDIA. I am broadly interested in deep learning, numerical methods, seismic imaging, HPC and a few others.
  <hr>

  <!-- <hr> -->
  <h3>Recent research</h3>
  <ul>
    <li>
      <h3><a href="https://arxiv.org/abs/2108.07600">Direct domain adaptation through reciprocal linear transformations</a></h3>
      <p>
        We proposed a general method for domain adaptation which blends features from source and target datasets by a set of linear operations such a cross-correlation and convolution. We explore the viability of the approach by transferring knowledge from training on gray-scale MNIST dataset to colored MNIST-M dataset.
        <!-- <br> -->
        <i>ArXiv, 2021</i>
        <img src="/assets/images/research/dda_6c.png" alt="">
      </p>
    </li>
    <li>
      <h3><a href="https://www.earthdoc.org/content/papers/10.3997/2214-4609.202032054">Deep Learning for Seismic Data Reconstruction: Opportunities and Challenges</a></h3>
      <p>
        Research project from my internship in CGG, Crawley, UK. Under supervision of Song Hou I explored benefits and pitfalls of using GANs for seismic data reconstruction. In the nutsell, high perceptual realism of reconstructed seismic data is not sufficient for real-world application. Physics also should be constrained.
        <!-- <br> -->
        <i>First EAGE Digitalization Conference and Exhibition, Nov 2020</i>
        <img src="/assets/images/research/cgg_2020_reconstruction.png" alt="">
      </p>
  </li>
  <li>
    <h3><a href="https://library.seg.org/doi/abs/10.1190/segam2020-3427522.1">Extrapolating low-frequency prestack land data with deep learning</a></h3>
    <p>
      In synthetic framework we explore capability of a simple neural network to reconstruct low-frequency components of land data.
      <!-- <br> -->
      <i>SEG Technical Program Expanded Abstracts 2020</i>
      <img src="/assets/images/research/seg_2020_land_data.png" alt="">
    </p>
  </li>
    <li>
        <h3><a href="https://library.seg.org/doi/abs/10.1190/segam2019-3216349.1">Style transfer for generation of realistically textured subsurface models</a></h3>
        <p>
          We apply an iterative style transfer approach from image processing to produce realistically textured subsurface models based on synthetic prior models. These realistically textured models to be used in training datasets for machine learning applications in geophysics.
          <!-- <br> -->
          <i>Presented in Sep 2019, on SEG Annual meeting in San Antonio, USA</i>
          <img src="/assets/images/research/style_transfer_seg_19.png" alt="">
        </p>
    </li>
    <!-- ============================== -->

    <!-- <li>
        <h3><a href="http://www.earthdoc.org/publication/publicationdetails/?publication=97373">Transfer learning for low frequency extrapolation from shot gathers for FWI applications</a></h3>
        <p>
        Here, we propose and utilize transfer learning to reduce the computational efforts for optimal architecture search and initial network training. We re-train the light-weight MobileNet convolutional network to infer low-frequency data from a frequency-domain representation of individual shot-gathers, which leads to an efficient, yet accurate inference of low fre- quencies according to wavenumber theory.
        <br>
        <i>Presented in Jun 2019, on EAGE Annual meeting in London, UK</i>
        <img src="/assets/images/research/eage_19_transfer.png" alt="">
        </p>
    </li> -->
      <!-- ============================== -->


    <!-- <li>
      <h3><a href="http://www.earthdoc.org/publication/publicationdetails/?publication=92618">Low-Frequency Data
          Extrapolation Using a Feed-Forward ANN</a></h3>
      <p>
        We explored the feasibility of frequency-bandwidth extrapolation using an Artificial Neural Network (ANN)
        approach. The ANN is trained to be a non-linear operator that maps high-frequency data for a single source and
        multiple receivers to low-frequency data.
        <img src="/assets/images/research/lowfreq2018.png" alt="">
      </p>
    </li> -->
    <!-- ============================== -->


    <!-- <li>
      <h3><a href="http://www.searchanddiscovery.com/pdfz/documents/2018/42212ovcharenko/ndx_ovcharenko.pdf.html">Feasibility
          of moment tensor inversion from a single borehole data using Artificial Neural Networks</a></h3>
      <p>
          We discuss the feasibility of using artificial neural networks for moment tensor inversion of three-component microseismic data from a single
          vertical well. For this purpose, we solve a nonlinear regression problem using a feed-forward artificial neural network (ANN).
          <img src="/assets/images/research/mt2018.png" alt="">
      </p>
    </li> -->


    <!-- ============================== -->
    <!-- <li>
      <h3><a href="https://library.seg.org/doi/abs/10.1190/geo2017-0575.1">Variance-based automated salt flooding for
          FWI</a></h3>
      <p>
        We have developed a variance-based method for reconstruction of velocity models to resolve the imaging and
        inversion issues caused by salt bodies. Our main idea lies in retrieving useful information from independent
        updates corresponding to FWI at different frequencies.
        <img src="/assets/images/research/vbsf2018.png  " alt="">
      </p>
    </li> -->
    <!-- ============================== -->
  </ul>


  



  <hr>
  <h3>News</h3>
  <p>
    <ul>      
      <li><span class="date">14/09/20</span>: Started internship as Geoscience (ML) Intern at <a href="https://corporate.exxonmobil.com/">ExxonMobil</a>, Houston, USA.</li>

      <li><span class="date">01/07/20</span>: Abstract <a href="https://library.seg.org/doi/abs/10.1190/segam2020-3427522.1">"Extrapolating low-frequency prestack land data with deep learning"</a> got accepted for an oral presentation at SEG 2020.</li>

      <li><span class="date">01/03/20</span>: Abstract <a href="https://www.earthdoc.org/content/papers/10.3997/2214-4609.202032054">"Deep Learning for Seismic Data Reconstruction: Opportunities and Challenges"</a> got accepted for an oral presentation at EAGE Digital 2020.</li>

      <li><span class="date">18/09/19</span>: <a href="https://github.com/vkazei">Vladimir Kazei</a> presented our work on style transfer for generation of realistic subsurface models at SEG Annual Meeting 2019 in San Antonio, USA. <a href="https://github.com/ovcharenkoo/geo-style-keras">Code available</a>!</li>

      <li><span class="date">06/08/19</span>: Started internship as Machine Learnin Engineer Intern at <a href="https://www.cgg.com/en">CGG</a>, Crawley, UK.</li>

      <li><span class="date">13/06/19</span>: Awarded SEG ExxonMobil Upstream Research Company scolarship for the year 2019-2020!</li>

      <!-- <li><span class="date">11/03/19</span>: Abstract "Transfer learning for low frequency extrapolation from shot gathers for FWI applications" got accepted for an oral presentation on June 6th at EAGE 2019 in London, UK.</li>

      <li><span class="date">29/01/19</span>: Published an easy to understand <a href="https://github.com/ovcharenkoo/CUDA_FDTD_2D_acoustic_wave_propagation">CUDA code for acoustic wave propagation</a> in a 2D domain. This uses shared memory tiles on device to partially eliminate redundant memory reads</li>

      <li><span class="date">19/10/18</span><a href="https://vkazei.com/">: Vladimir Kazei</a> presented our work on frequency frequency-bandwidth extrapolation at SEG 2018 in Anaheim, USA</li>

      <li><span class="date">17/09/18</span>: Released v.1.0 <a href="https://ovcharenkoo.github.io/WaveProp_in_MATLAB/">WaveProp
          in MATLAB</a>. Single-file scripts for 2D and 3D, acoustic and elastic FDTD wave propagation. Intended to be a set of simple codes for beginners</li>

      <li>07/09/18: Our paper <a href="https://library.seg.org/doi/abs/10.1190/geo2017-0575.1">Variance-based model interpolation for improved full-waveform inversion in the presence of salt bodies</a> got publised in GEOPHYSICS</li> -->

      <!-- <li>13/06/18: E-poster <a href="/assets/papers/Ovcharenko_EAGE_2018_blue.pdf">Low-Frequency Data Extrapolation
          Using a Feed-Forward ANN</a> at EAGE 2018, Copenhagen, Denmark</li>

      <li>06/03/18: Presenting <a href="/assets/papers/GEO_03_18_small.pdf">Feasibility of moment tensor inversion for
          a single-well microseismic data using neural networks</a> at GEO 18, Manama, Bahrain</li>

      <li>20/02/18: Awarded 1st trophy at <a href="https://www.hpc.kaust.edu.sa/GPU-2018#Organizers">KAUST-NVIDIA
          Hackathon 2018</a>. <a href="https://github.com/vkazei">Vladimir Kazei</a> and I used OpenAcc to accelerate modeling of seismic wave
        propagation</li>

      <li>04/12/17: Presenting at SEG FWI Workshop: Where are we getting? Talk: <a href="/assets/papers/Abstract_NN_OKPA_17.pdf">Neural network based low-frequency data extrapolation</a>, Manama, Bahrain</li>

      <li>14/06/17: Presenting <a href="/assets/papers/Ovcharenko_EAGE17.pdf">Variance-based salt body reconstruction</a>
        at EAGE 2018, Paris, France</li>

      <li>21/04/17: Successfully passed Qualification Examination at KAUST</li>

      <li>15/03/17: 3rd place worldwide in the <a href="https://smi.kaust.edu.sa/Pages/News-2017-03-15.aspx">EAGE
          GeoQuiz</a> as a team</li> -->
    </ul>
  </p>
</section>